.editor-input-with-buttons {
  display: flex;
  align-items: center;

  .input-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0 24px;
    border: 1px solid var(--gray);
    border-radius: 8px;
    background: var(--black);
    font-size: 2rem;
    font-family: 'DegularDisplay', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
  }

  .box-buttons {
    display: flex;
    flex-direction: column;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    border: 1px solid var(--gray);
    border-radius: 4px;
    background: var(--black);
    font-size: 1.6rem;
    color: var(--white);
  }
}
