.page-editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 2px solid var(--gray);
  background: var(--black);
}

.button-editor-box {
  position: relative;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background: var(--blue);
    font-size: 1.6rem;
    font-family: 'DegularDisplay', sans-serif;
    color: var(--white);
  }
}

.content-editor {
  flex: 1;
  background: var(--deep-gray);
  padding: 0 24px 24px;
  box-sizing: border-box;

  .editor-title + .editor-dropdown,
  .editor-title + .editor-color-input,
  .editor-title + .editor-position-selector,
  .editor-title + .editor-image-input,
  .editor-title + .editor-input {
    margin-top: 10px;
  }
}
