.resolution-tool {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  border-bottom: 2px solid var(--gray);
  background: var(--deep-gray);
  box-sizing: border-box;

  .tooltip-container {
    display: inline-block;
    position: relative;

    &:hover {
      .tooltip {
        visibility: visible;
      }
    }
  }

  .tooltip {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    border-radius: 3px;
    background: var(--black);
    font-size: 1.4rem;
    font-family: 'DegularDisplay', sans-serif;
    color: var(--white);
    text-align: center;
    visibility: hidden;
    white-space: nowrap;
    pointer-events: none;
  }
}

.resolution-selector {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  gap: 20px;

  & + & {
    margin-left: 40px;

    &::before {
      position: absolute;
      left: -20px;
      width: 2px;
      height: 100%;
      background: var(--gray);
      content: '';
    }
  }
}

.resolution-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
