.input-group {
  display: flex;
  align-items: center;

  .input-range {
    flex: 1;
    height: 4px;
    margin-right: 10px;
    background: var(--blue);
  }

  .input-text {
    width: 100px;
    padding: 0 8px;
  }
}
